.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.form > input:focus {
    outline: none;
}
.form > input {
    border: 1px solid black;
    padding: 20px 15px;
    width: 40%;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 1rem;
}
.buttonLogin {
    padding: 20px 10px;
    width: 25%;
    border: none;
    border-radius: 20px;
    background: darkslateblue;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}