.default {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex: 1;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.content > img {
    height: 300px;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.content > span {
    font-size: .9rem;
    color: grey;
    padding: 20px;
}
.textContent {
    padding: 20px;
}
.textContent > h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.textContent > p {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5;
}
.sideMenu {
    flex: 2;
}